apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  namespace: argocd
spec:
  destination:
    namespace: cert-manager
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: cert-manager
    helm:
      valueFiles:
      - values.yaml
    repoURL: https://charts.jetstack.io
    targetRevision: v1.15.0
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
