apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-nginx
  namespace: argocd
spec:
  destination:
    namespace: ingress-nginx
    server: https://kubernetes.default.svc
  project: default
  source:
    repoURL: https://kubernetes.github.io/ingress-nginx
    chart: ingress-nginx
    targetRevision: 4.10.0
    helm:
      parameters:
        - name: controller.rbac.create
          value: "true"
        - name: controller.serviceAccount.create
          value: "true"
        - name: controller.serviceAccount.name
          value: ingress-nginx
  syncPolicy:
    automated:
      prune: true
      selfHeal: true

  ignoreDifferences:
    - group: ""
      kind: Service
      jsonPointers:
        - /status
    - group: batch
      kind: job
      jsonPointers:
        - /status
