apiVersion: v1
kind: Service
metadata:
  name: { include "slack-connector.fullname" . }
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 80
  selector:
    {- include "slack-connector.selectorLabels" . | nindent 4 }
