apiVersion: v1
kind: Service
metadata:
  name: { include "ollama.fullname" . }
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 80
  selector:
    {- include "ollama.selectorLabels" . | nindent 4 }
